
.lt_main table{
   margin:0 auto;
}

.lt_main table td{
    text-align: center;
    border:1px solid #ccc;
    height: 40px;
}

.lt_main ul li{
    cursor: pointer;
}

.lt_main .page{
    text-align: right;
}