/*内容区*/

.lt_content .nav{
    padding:10px;
}

.lt_content .nav li{
    width: 33.33%;
    float: left;
}

.lt_content .product{
    padding:10px;
}

.lt_content .product a{
    width: 48%;
    float:left;
    border:1px solid #ccc;
    padding:10px;
    margin-top: 10px;
    text-align: center;
}

.lt_content .price{
    color:red;
}
.lt_content .oldPrice{
    text-decoration: line-through;
}

.lt_content .product a:nth-child(odd){
    margin-right: 15px;
}
