

.lt_history{
    padding:10px;
}

.lt_history ul{
    border:1px dashed #ccc;
    border-bottom: none;
}

.lt_history .title span{
    font-size: 12px;
    color:#666;
}

.member li{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    line-height:30px;
    border-bottom:1px dashed #ccc;
}

.member li a{
    color:#069;
    font-size: 12px;
}

.member li span{
    margin-top: 7px;
    font-size: 16px;
}